body {
    background: #f4e7bd;
    margin:0; padding:0;
    font-family: Arial; font-size: 13px;
    color: #464646;
}

p{
    margin:0 0 20px 0;
}

a{
    text-decoration: none;
}

a img{
    border:0;
}

h2 {
    color: #7E8901;
    font: normal 28px Georgia;
    margin: 30px 0 20px 0; padding: 0;
}

h3{
    color: #7e8901;
    font: normal 22px Georgia;
    margin: 30px 0 0 0; padding: 0;
    clear: both;
}

h4{
    margin: 0; font-size: 12px;
    color: #B22D00; clear: both;
}

ul{
    list-style: none;
}

/* beberapa class*/
.container{
    width: 1020px; margin: 0 auto;
}

button{
    background: #f4f4f4; color: #000;
    border: 1px ridge #999;
    width: 50px; padding: 2px 5px;
    text-align: center;
    margin: 10px 0; font-size: 9px;
}

button a{
    color: #000;
}

/*Bagian Header*/
#header{
    height: 195px; background: url(images/header.JPG) repeat-x;
    margin: 0; border-bottom: 3px solid #db9a17;
}

#logo{
    width: 400px; height: 210px;
    margin: -50px auto; display:block;
}

#nav{
    margin: 2px -95px;
    padding: 0; float: right;
}

#nav li {
    float: left; width: 76px; height: 18px;
    text-align: center;
    padding: 2px 5px 5px -10px;
}

#nav li a {
    color: rgb(141, 46, 2); font-size: 15px; font-weight: bold;
    text-align: justify;
}

/*Bagian Konten*/
#primary, #main-content, #secondary {
    float: left; 
}

#dimsum {
    width: 400px; height: 495px;
    margin: -213px -200px -390px -70px;
    float: left;
    position: relative;
}

/* form login*/
#login {
    float: right; width: 640px;
    border: 1 px solid #c0943c;
    margin: 27px 0 20px 0;
    padding: 10px; background: #ffe38f;
    font-size: 13px; background: #eed47d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#login h3{
    font-size: 25px;
    margin: 1px; color: #000;
    font-weight: bold;
}

#login form{
    float: left; margin: 5px 0;
    color: #95844d;
}

#login input {
    background: #ead28b;
    border: 1px solid #d9c17a;
    height: 25px;
    color: #95844D; width: 200px;
}

#login input.submit {
    background: #f9f9f9; color: #000;
    border: 2px solid rgb(65, 65, 65);
    height: 25px; width: 55px;
    margin-left: 20px;
}

#login p {clear: both;}

#login a {
    color: #943415; font-size: 13px;
    margin-left: 20px;
}

/*primary sidebar*/
#primary{
    width: 215px; clear: both;
    padding: 0 15px;
}

#primary h4 {clear: none; font-size: 15px;}

#primary h3 {clear: none; font-weight: bold;}

#primary p {margin: 15px 0 10px 0;}

#primary a {color: #822D00;}

#primary a:hover {text-align:left ; text-decoration: underline;}

.review {
    clear: both; 
    margin-top: 20px;
}

.leftcon {
    float: left;
    /* background: url('images/leftcon1.PNG'); */
    width: 45px; height: 34px;
    margin: 0 10px 0 0;
    padding: 7px 0 0 0;
}

.leftcon img{
    width: 45px; height: 34px;

}
.meta {
    font-size: 11px; background: #f1e0ac;
    margin: 0;
    display: inline;
}

.berita {
    clear: both; 
    margin-top: 20px;
}

/*main Content*/
#main-content {
    width: 435px;
    padding: 0 34px 30px 34px;
    border: dotted #999;
    border-width: 0 1px;
}

#main-content h3 {clear: none; font-weight:bold;}

#main-content p {margin: 15px 0 10px 0;}

#ulasan {
    border: 1px solid #c0943c;
    background: #efdb9e;
    padding : 5px 10px;
    color: #B22D00;
}

#ulasan a {
    color: #B22D00;
    font-size: 12px;
}

.favorit {
    margin: 15px 0 10px 0;
    padding: 10px; background: #f0dfa9;
    border: 1px dotted #c0943c;
    overflow: hidden;
}

.favorit img {
    width: 360px; height: 220px;
    margin-top: -40px;
}

/*secondary Content*/
#secondary {
    width: 205px; padding: 0 0 0 28px;
    font-size: 12px;
}

#secondary h3 {font-weight: bold;}

#secondary img {
    width: 150px; height: 150px;
    border-style: solid rgb(255, 189, 114); margin: 15px 0 -20px 0;
}

/*footer*/
#footer {
    background: #8c2c00 repeat-x;
    padding: 40px 0;
    text-align: center;
    overflow: hidden;
    font-size: 13px;
    clear: both; color: #000;
}

#footerbox-wrapper {
    width: 785px;margin: 0 auto; 
}

#footerbox-wrapper p{
    display: inline-block;
    font-weight:600;
}

.footerbox {
    background: #ead28b no-repeat; width: 180px; height: 185px;
    float: left; color: rgb(61, 47, 47);
    font-size: 13px;
    padding: 25px 20px;
    margin: 0 20px;
}

.footerbox h3 {
    color: #9b7529;
    font-size: 19px;
    margin: -12px 0 0 0;
    font-weight: bold;
}

.footerbox p{
    margin: 10px 0 0 0; font-weight: 500; 
}

.footerbox .social {
    margin: 10px auto;
}

.footerbox .outlet {
    margin: 20px 0;
}

.footerbox .commerse {
    margin: 20px; display: flex; flex-wrap: wrap; float: center;
    justify-content: center;
}